/* ----------------CLASES GLOBALES--------- */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62,5%;
}

a{
    text-decoration: none;
    color: black;
}


li{
    list-style: none;
}

body{
    min-height: 100vh;
}
.line-break{
    display:block;
}

/* -------------------NAVBAR-----------------*/

.header{
    background-color: rgb(236, 139, 48);
}

.logo-flex{
    display: flex;
    width: 100vw;
    justify-content: space-around;
    height: 11rem;
    background-color: rgb(236, 139, 48)
}
#barra-nav{
    background-color: blanchedalmond;
}
.dropdown-menu{
    background-color: black;
}

.dropdown-menu a{
    color: whitesmoke;
}

.nav-item{
    width: 8rem;
}


.navbar{
    padding-top: 0;
}
#logo{
    background-image: url(../multimedia/BIANG-BIANG-logo.png);
    background-repeat: no-repeat;
    height: 15rem;
    width: 15rem;
}

.nav-item:hover{   
    background-color: rgb(236, 161, 48);
    border-radius: 1rem;
}

/* ---------FOOTER-------------*/

footer.container-fluid{
    background-color: rgba(225, 132, 228, 0.8);
    position: sticky;
    top: 100%;
    padding: 2rem;
}

#footer-flex{
    justify-content: center;
}

.derechos-reservados{
    display: flex;
    justify-content: center;
}

#footer-flex h4{
    font-size: 1rem;
    font-weight: bold;
}

footer a:hover{
    color: black;
    text-decoration-line: underline;
    font-weight: bold;
}

/* ----------- CONTENIDO INDEX --------------*/

.contenedor-index {
    margin-top: 5rem;
    display: grid;
    height: 120vh;
    width: 100vw;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.contenedor-imagen{
    grid-column: 2 / 4;
    grid-row: 1 / 5;
}

#img-index {
    background-image: url(../multimedia/imagenmain.jpg);
    min-width: 50vw;
    min-height: 90vh;
    border-radius: 2rem 0 0 2rem;
    opacity: 0.8;
    z-index: 1;
}

.texto-index {
    height: max-content;
    width:fit-content;
    grid-column: 3/5;
    grid-row: 2/3;
    padding: 4rem;
    background-color:rgb(236, 139, 48, 0.8);
    z-index: 999;
    border-radius: 2rem;   
    transition-duration: 1000ms; 
}

.texto-index h3{
    font-size: 1rem;
}

.texto-index h1{
    font-size: 1.2rem;
}

.texto-index:hover {
    background-color: rgb(121, 40, 158);
    color: white;
}

.texto-index p{
    min-inline-size: 15rem;
    max-inline-size: 30rem;
    text-align: justify;
}

.btn-explorar{
    background-color: rgb(236, 139, 48); 
    border: none;
    color: white;
    padding: 1.2rem 2.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1,5rem;
    margin-left: 10vw;
    margin-top: 5vh;
    transition-duration: 500ms;
}

.btn-explorar:hover{
    border-radius: 2rem;
    background-color: rgba(228, 65, 236, 0.4);
    font-weight: bold;
    text-decoration-line: underline;
}

/* ------------------MEDIA QUERIES----------------*/

@media only screen and (max-width: 1080px) {
    .contenedor-index {
        grid-template-columns: 1fr 4fr 1fr;
    }
    .texto-index{
        grid-column: 2/2;
    }
    .contenedor-imagen{
        grid-column: 2/2;
    }
}

/* ----------- CONTENIDO NOSOTROS --------------*/

.container-nosotros{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#contenido-nosotros{
    margin-left: 2rem;
}

#contenido-nosotros h1{
    
    background-color: rgb(236, 161, 48,0.6);
    display: inline;
    padding: 1rem;
    border-radius: 24px;
    max-width: min-content;
}

#contenido-nosotros p{
    max-inline-size: 30rem;
    min-inline-size: 20rem;
    margin-top: 2rem;
    text-align: justify;
}

/* ----------- CONTENIDO PRODUCTOS --------------*/
.titulo-producto{
    margin-bottom: 1rem;
}

.container-producto{
    padding: 2rem;
    background-image: linear-gradient(rgba(228, 65, 236, 0.4), rgba(107, 16, 112, 0.4));
    width:70vw;
    border-radius: 1rem;
    margin: auto;
}

.container-producto-par{
    padding: 2rem;
    color: whitesmoke;
    background-image: linear-gradient(rgb(84, 14, 86), rgba(6, 0, 10, 0.8));
    width:70vw;
    border-radius: 1rem;
    margin: auto;
}

.imagen-producto{
    border-radius: 50%;
}

.descripcion-producto{
    max-inline-size: 25rem;
    justify-content: center;
}

/* ---------PAGINA CONTACTO SECCION FAQ-------------*/
#main-contacto{
    background-image: linear-gradient(rgba(225, 132, 228, 0.8), rgb(236, 161, 48, 0.8))
}
#faq{
    margin-top: 5rem;
}

.accordion-item{
    background-color:rgba(62, 37, 63,0.8);
    width: 70vw;
    margin: auto;
    border-radius:.4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.4);
}

.accordion-body{
    width: 70vw;
    margin: auto;
    color: whitesmoke;
    margin-top: 0;
    background-color:rgba(62, 37, 63,0.8);
    border-radius:.4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.4);
    font-size: 1.2rem;
}

/* ---------PAGINA CONTACTO SECCION CONTACTO-------------*/

/* -----------FORMULARIO CONTACTO---------------*/

#container-contacto {
    background-image: url(../multimedia/contacto.jpg);
    height: 90vh;
    margin-top: 3vh;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 8vh;
    color: whitesmoke;
}

#contact-form-titulo {
    padding:0.5rem;
    color: whitesmoke;
    text-align: center;
    background-color: rgba(241, 201, 142, 0.8);
    width: 50vw;
    margin: auto;
    border-radius: 25px;
}

#contact-form-inputs {
    margin: 10vh auto 8vh auto;
    text-align: center;
    background: rgba(225, 132, 228, 0.4);
    width: 50vw;
    height: 55vh;
    border-radius:25px;
}

#contact-form-inputs input {
    padding: 6px;
    margin-top: 8px;
}

#contact-form-inputs label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

#contact-form-inputs button{
    border-radius: 25px; 
    width: 5vw;
    height: 3vh; 
    border-color:rgba(38, 4, 39);
    border-width: 1px;
    background-color: blanchedalmond;
    min-width: fit-content;
}

#contact-form-inputs button:hover{
    background-color: rgba(38, 4, 39, 0.6);
    color: blanchedalmond;
    border-color: blanchedalmond;
    font-weight: bold
}

/*-----------------BLOG--------------------*/
#titulo-blog {
    padding: 2rem;
    background-color: black;
    color: whitesmoke;
    width: 70vw;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 1rem;   
}

.blog-temas{
    padding: 1rem;
    background-color: black;
    color: whitesmoke;
    width: 50vw;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 25px;  
}
.entrada {
    background-color: rgba(225, 132, 228, 0.2);
    background-repeat: no-repeat;
    height: 50vh;
    border-radius: 24px;

}

.entrada-texto h2{
    font-size: 1.3rem;
}

.entrada-texto h3{
    font-size: 1.1rem;
}

.entrada-texto{
    background-color: rgba(225, 132, 228, 0.8);
    border-radius: 24px;
    padding: 5px;
    font-size: 1rem;
}

.entrada.uno{
    background-image: url(../multimedia/gajar.jpg);
}

.entrada.dos{
    background-image: url(../multimedia/chilli-oil.jpg);
    
}

.entrada.tres{
    background-image: url("../multimedia/kimono.jpg");
    
}
.entrada.cuatro{
    background-image: url("../multimedia/spices.webp");
}
.entrada.cinco{
    background-image: url("../multimedia/koyasan.jpg");
}
.entrada.seis{
    background-image: url("../multimedia/kanazawa.JPG");
}

.entrada.siete{
    background-image: url("../multimedia/muroxian.jpeg");
    margin-bottom: 100px;
}

.btn-leer-mas{
    background-color:rgba(38, 4, 39); 
    margin-left: 35%;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 1,5rem;
    border-radius: 12px;
}

.btn-leer-mas:hover{
    background-color: transparent;
    color: black;
    border-color: black;
    font-weight: bold;
    border-style: solid;
}