/* CLASES GLOBALES */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62,5%;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

p{
    max-width: 30em;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h5{
    text-align: center;
}

/* ----------------BARRA NAVEGACION------------- */

header {
    background-color: rgb(236, 139, 48);
    grid-area: header;
}

.container-logo{ 
    display: flex; 
    justify-content: center; 
    width: 100vw; 
}

.nav-menu-items{
    display:flex;
    margin: auto;
    width: 80vw;
    margin-top: 0;
    justify-content: center;
    background-color: blanchedalmond;
    border-radius:2rem;
}

.nav-menu-items-links {
    padding: 1.6rem 1rem;
    text-align: center;
    width: 12rem;
}

.nav-menu-items-links:hover{
    background-color: rgb(236, 161, 48);
    border-radius: 1rem;
}

/* submenu productos */

.submenu {
    display:none;
    position:absolute;
    border-color: white;
    text-align: center;
}

.submenu a {
    color: white;
}

#nav-item-productos:hover #submenu-productos{
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 1.5rem;
    width: 9.5rem;
    border-color: rgba(38, 4, 39, 0.6);
    border-style: solid;
    border-radius:0 0 1rem 1rem;
    line-height: 2rem;
}
.icon.ion-md-arrow-dropright{
    display: none;
}

/* submenu blog */

#nav-item-blog:hover #submenu-blog{
    text-align: center;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    width:9.5rem;
    margin-top: 1.5rem;
    border-color: rgba(38, 4, 39, 0.6);
    border-radius:0 0 1rem 1rem;
    line-height: 2rem;
}

/* submenu ayuda */
#nav-item-contacto:hover #submenu-contacto{
    text-align: center;
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 1.5rem;
    width: 9.5rem;
    border-color: rgba(38, 4, 39, 0.6);
    border-width: 2px;
    border-style: solid;
    border-radius:0 0 1rem 1rem;
    line-height: 2rem;
}

/*-------NAV MEDIA QUERIES---------- */

@media screen and (max-width: 768px) {

    /*  Barra navegacion */
    .container-logo{ 
        width: 50vw;
        margin: auto;
    }

    .icon.ion-md-arrow-dropright{
        display: inline;
    }

    .icon.ion-ios-arrow-down{
        display: none;
    }

    #link-productos, #link-blog, #link-contacto{
        pointer-events: none;
    }

    .nav-menu-items{ 
        flex-direction: column;
    }

    #nav-item-productos:hover #submenu-productos{
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.9);
        margin-top: -2.75rem;
        margin-left:12rem;
        width: 7rem;
        border-color: rgba(38, 4, 39, 0.6);
        border-style: solid;
        border-radius:0 1rem 1rem 1rem;
        line-height: 2rem;
    }
    #nav-item-blog:hover #submenu-blog{
        text-align: center;
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.9);
        width:7rem;
        margin-top: -2.70rem;
        margin-left:12rem;
        border-color: rgba(38, 4, 39, 0.6);
        border-radius:0 1rem 1rem 1rem;
        line-height: 2rem;
    }
    
    #nav-item-contacto:hover #submenu-contacto{
        text-align: center;
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.9);
        margin-top: -2.70rem;
        width: 7rem;
        margin-left:12rem;
        border-color: rgba(38, 4, 39, 0.6);
        border-width: 2px;
        border-style: solid;
        border-radius:0 1rem 1rem 1rem;
        line-height: 2rem;
    }
}

/* -------------------FOOTER---------------- */ 

footer {
    grid-area:footer;
    background-color:rgba(225, 132, 228, 0.8);
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1auto 1auto;
    height: max-content;
    padding: 1rem;
    justify-items: center;
    line-height: 1,5rem;
    grid-template-areas: 
    "c1 c2 c3 c4 c5"
    "d d d d d"
    ;
}

.footer-columna-1{
    grid-area: c1;
    margin-top: 2em;
}

.footer-columna-2{
    grid-area: c2;
    margin-top: 2em;
}

.footer-columna-3{
    grid-area: c3;
    margin-top: 2em;
}

.footer-columna-4{
    grid-area: c4;
    margin-top: 2em;
}

.footer-columna-5{
    grid-area: c5;
    margin-top: 2em;
}

.derechos-reservados{
    grid-area: d;
}

#footer-nosotros:hover {
    text-decoration: underline;
    font-weight: bold;
}

#footer-productos:hover {
    text-decoration: underline;
    font-weight: bold;
}

#footer-blog:hover {
    text-decoration: underline;
    font-weight: bold;
}

#footer-contacto:hover {
    text-decoration: underline;
    font-weight: bold;
}

#footer-recetas:hover {
    text-decoration: underline;
    font-weight: bold;
}

#footer-viajes:hover {
    text-decoration: underline;
    font-weight: bold;
}

#footer-salud:hover {
    text-decoration: underline;
    font-weight: bold;
}

#footer-politicas:hover {
    text-decoration: underline;
    font-weight: bold;
}

#footer-entrega:hover {
    text-decoration: underline;
    font-weight: bold;
}

#footer-prep:hover {
    text-decoration: underline;
    font-weight: bold;
}

#footer-escribenos:hover {
    text-decoration: underline;
    font-weight: bold;
}
/*------------------ MEDIA QUERIES FOOTER-------------*/

@media screen and (max-width: 768px) {

    /* Footer */ 

    footer{
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr 2fr;
        min-height: fit-content;
        min-width: fit-content;
        grid-template-areas: 
        "c1 c2"
        "c3 c4"
        "c5 c5"
        "d d"

    }
} 

/* GRID LAYOUT PARA LA PAGINA INDEX */

.index-grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer"
    ;
}

header {
    grid-area: header;
}

.index-main {
    grid-area: main;
}

footer {
    grid-area:footer;
}

/* ----------- CONTENIDO INDEX --------------*/

.contenedor-index {
    display:flex;
    height: 100vh;
    width: 80vw;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

#img-index {
    background-image: url(/multimedia/imagenmain.jpg);
    width: 60vw;
    height: 80vh;
    border-radius: 2rem 0 0 2rem;
    opacity: 0.8;
    z-index: 1;
}

.texto-index {
    max-inline-size: 30rem;
    align-self: center;
    padding: 4rem;
    background-color:rgb(236, 139, 48, 0.8);
    z-index: 999;
    margin: -10vw;
    border-radius: 2rem;
}

.btn-explorar{
    background-color: rgb(236, 139, 48); 
    border: none;
    color: white;
    padding: 1.2rem 2.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1,5rem;
    margin-left: 10vw;
    margin-top: 5vh;
}
/* ------------MEDIA QUERY DEL INDEX-----------*/

/* ------------ MAIN---------------------- */
@media screen and (max-width: 768px) {
    .texto-index {
        max-inline-size: 30rem;
        align-self: center;
        position: absolute; 
        padding: 1rem;
        margin-left: 0;
        max-inline-size: 18rem;
        color: white;
    }
}


/*-------------PAGINA NOSOTROS----------*/

/* LAYOUT GENERAL NOSOTROS */

.nosotros-grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer"
    ;
}

header {
    grid-area: header;
}

.contenedor-nosotros{
    grid-area: main;
}

footer {
    grid-area:footer;
}

/* CONTENIDO NOSOTROS */ 

.contenedor-nosotros{
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img-nosotros-flex{
    margin: 2rem;
}

.contenido-nosotros{
    max-inline-size: 30rem;
    min-inline-size: 20rem;
    margin-left: 2rem;
}

.contenido-nosotros h1{
    
    background-color: rgb(236, 161, 48,0.6);
    display: inline;
    padding: 1rem;
    border-radius: 24px;
    max-width: min-content;
}



.contenido-nosotros p{
    margin-top: 3rem;
}

/* --------CONTENIDO PAGINA PRODUCTOS -----*/

.container-producto {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: rgba(225, 132, 228, 0.4);
    width:70vw;
    margin: 1rem auto 1rem auto;
    border-radius: 1rem;
}

.container-producto.par{
    padding: 2rem;
    color:white;
    background-color: rgba(62, 37, 63);
    width: 70vw;
}

.titulo-principal {
    padding: 3rem;
    background-color: rgba(62, 37, 63);
    color: whitesmoke;
    width: 70vw;
    margin: 5rem auto 2rem auto;
    border-radius: 25px;
    text-align: center;
}

.titulo-producto{
    background-color: black;
    color: rgb(247, 235, 235);
    opacity: 0.5;
    border-radius: 1rem;
    max-inline-size: fit-content;
    padding: 0 1rem 0 1rem;
    margin-left: 30%;
    margin-bottom: 2rem;
}

.descripcion-producto{
    display: flex;
    height: 25vh;
    width: 70vw;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.descripcion-producto p{
    min-inline-size: 10rem;
}

.imagen-producto {
    border-radius: 50%;
    min-width: 10rem;
    min-height: 10rem;
}

#tabla-informacion-nutricional{
    color: white;
    border-spacing: 1.5rem;
    background-color: black;
    opacity: 0.5;
    border-radius: 12px;
}

/* --------MEDIA QUERIES PRODUCTOS------*/

@media screen and (max-width: 900px) {
    .descripcion-producto{
        flex-direction: column;
        flex-flow: column;
    }

    .container-producto {
        height: 85vh;
    }

    .imagen-producto {
        margin-top: 30vh;
        border-radius: 50%;
        min-width: 10rem;
        min-height: 10rem;
    }

    .titulo-producto{
    margin: 1rem auto 1rem auto;
    }
    #tabla-informacion-nutricional{
        border-spacing: 1rem;
    }
}

/*-----------------BLOG--------------------*/

#titulo-blog {
    text-align: center;
    padding: 2rem;
    background-color: black;
    color: whitesmoke;
    width: 70vw;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 1rem;   
}

.blog-temas{
    text-align: center;
    padding: 1rem;
    background-color: black;
    color: whitesmoke;
    width: 50vw;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 25px;  
}

.entrada {
    position: relative;
    display: inline-block;
    background-color: rgba(225, 132, 228, 0.2);
    margin-top: 20px;
    margin-bottom:40px;
    background-repeat: no-repeat;
    height: 50vh;
    border-radius: 24px;
    margin-left: 10px;
}

.entrada-texto{
    background-color: rgba(225, 132, 228, 0.8);
    border-radius: 24px;
    padding: 5px;
}

.entrada .uno{
    background-image: url("../multimedia/gajar.jpg");
    
}

.entrada .dos{
    background-image: url("../multimedia/chilli-oil.jpg");
    
}

.entrada .tres{
    background-image: url("../multimedia/kimono.jpg");
    
}
.entrada .cuatro{
    background-image: url("../multimedia/spices.webp");
}
.entrada .cinco{
    background-image: url("../multimedia/koyasan.jpg");
}
.entrada .seis{
    background-image: url("../multimedia/kanazawa.JPG");
}

.entrada .siete{
    background-image: url("../multimedia/muroxian.jpeg");
    margin-bottom: 100px;
}


.btn-leer-mas{
    background-color:rgba(38, 4, 39); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1,5rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 12px;
}

.btn-leer-mas:hover{
    background-color: transparent;
    color: black;
    border-color: black;
    font-weight: bold;
    border-style: solid;
}

/* LAYOUT GENERAL PAGINA CONTACTO */ 

.contacto-grid {
    display: grid;
    height: 250vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas: 
    "header header"
    "main main"
    "main main"
    "footer footer"
    ;
}

header {
    grid-area: header;
}

.main-contacto{
    grid-area: main;
    background-color:rgb(248, 238, 223) ;
}

footer {
    grid-area:footer;
}

/* ACORDEON PAGINA CONTACTO */ 

.faq {
    margin-top: 10vh;
    width:100%;
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    background-image: linear-gradient(rgba(225, 132, 228, 0.8), rgb(236, 161, 48, 0.8))
}

.contenedor-acordeon {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.item-acordeon {
    background-color:rgba(62, 37, 63,0.8);
    border-radius:.4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem rgba(0,0,0,.4);
}

.link-acordeon{
    font-size: 1.2rem;
    color: whitesmoke;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.link-acordeon i {
    padding: 0.5rem;
}

.link-acordeon .ion-md-remove{
    display:none;
}

.respuesta{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: rgb(236, 161, 48, 1);
    border-radius: 1rem;
    color: whitesmoke;
    transition: max-height 650ms;
}

.respuesta::before{
    content:"";
    position:absolute;
    width: .6rem;
    height:90%;
    background-color: green;
    top: 50%;
    left: 0;
    transform:translateY(-50%)
}

.respuesta p{
    padding: 2rem;
}

.item-acordeon:target .respuesta{
    max-height: 20rem;
}

.item-acordeon:target .link-acordeon .ion-md-add{
    display:none;
}

.item-acordeon:target .link-acordeon .ion-md-remove{
    display:block;
}

/* -----------FORMULARIO CONTACTO---------------*/

#container-contacto {
    background-image: url(../multimedia/contacto.jpg);
    height: 70vh;
    margin-top: 3vh;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 8vh;
    color: whitesmoke;
}

#contact-form-titulo {
    padding:0.5rem;
    color: whitesmoke;
    text-align: center;
    background-color: rgba(241, 201, 142, 0.8);
    width: 50vw;
    margin: auto;
    border-radius: 25px;
}

#contact-form-inputs {
    margin: 1vh auto 8vh auto;
    text-align: center;
    background: rgba(225, 132, 228, 0.4);
    width: 50vw;
    height: 55vh;
    border-radius:25px;
}

#contact-form-inputs input {
    padding: 6px;
    margin-top: 8px;
}

#contact-form-inputs label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

#contact-form-inputs button{
    border-radius: 25px; 
    width: 5vw;
    height: 3vh; 
    border-color:rgba(38, 4, 39);
    border-width: 1px;
    background-color: blanchedalmond;
    min-width: fit-content;
}

#contact-form-inputs button:hover{
    background-color: rgba(38, 4, 39, 0.6);
    color: blanchedalmond;
    border-color: blanchedalmond;
    font-weight: bold
}

/*------------------ MEDIA QUERIES FOOTER-------------*/

@media screen and (max-width: 768px) {

    /* Footer */ 

    footer{
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr 2fr;
        min-height: fit-content;
        min-width: fit-content;
        grid-template-areas: 
        "c1 c2"
        "c3 c4"
        "c5 c5"
        "d d"

    }
} 



